# HOST_DATA_PATH=/home/user/dev/host_data
# AUTOWARE_DATA_PATH=/home/user/dev/autoware_data
# UB_AUTOWARE_CARLA_INTERFACE_PATH=/home/user/dev/UB-DigitalTwin/CARLA/UB-API/carla-autoware-sumo-bridge/autoware_carla_interface

# FOR DEBUGGING
# UB_SENSOR_KIT=/home/user/dev/ub_lincoln_sensor_kit_launch
# UB_VEHICLE=/home/user/dev/ub_lincoln_vehicle_launch
# UB_BRIDGE=/home/user/dev/universe_dbw2_bridge
